@namespace dactyl url("http://vimperator.org/namespaces/liberator");
@namespace html url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://browser/content/browser.xul) {

#tabbrowser-tabs {
  height: 24px !important;
}

.tab-background {
  min-height: 24px !important;
}

#TabsToolbar {
  margin-bottom: -2px !important;
}


#nav-bar-customization-target > .toolbarbutton-1,
#nav-bar-customization-target > .toolbarbutton-1 > xul|dropmarker > xul|image {
    max-height: 31px !important;
}

#nav-bar {
  margin-top: 0px !important;
  border-top: 1px solid #999;
  border-bottom: 1px solid #777;
}

}
